[Unit]
Description=VCC wait for dependent services on other nodes
PartOf=vcc.service
After=vcc-keys.service

[Service]
Type=oneshot
ExecStart=/usr/bin/env node /vccjs/wait4deps.js

[Install]
RequiredBy=vcc.service

