[Unit]
Description=VCC DNS resolver
PartOf=vcc.service
After=vcc-net.service

[Service]
ExecStart=/usr/local/bin/node /vccjs/clusterdns.js
Restart=on-failure

[Install]
RequiredBy=vcc.service