[Unit]
Description=VCC wait for dependent services on other nodes
PartOf=vcc.service
After=vcc-dns.service

[Service]
ExecStart=/bin/sleep infinity
Restart=on-failure

[Install]
RequiredBy=vcc.service

