[Unit]
Description=VCC DNS resolver
PartOf=vcc.service
After=vcc-net.service

[Service]
ExecStart=/bin/sleep infinity
Restart=on-failure

[Install]
RequiredBy=vcc.service

