[Unit]
Description=VCC cluster ready target
Requires=vcc-net.service
Requires=vcc-dns.service
Requires=vcc-watcher.service
Requires=vcc-register.service
Requires=vcc-wait4deps.service
