[Unit]
Description=VCC discovery registration
PartOf=vcc.service
After=vcc-services.target
Requires=vcc-wait4deps.service

[Service]
ExecStart=/usr/bin/env node /vccjs/registerservice.js
Restart=on-failure

[Install]
RequiredBy=vcc.service