[Unit]
Description=VCC discovery registration
PartOf=vcc.service
After=vcc-wait4deps.service

[Service]
ExecStart=/bin/sleep infinity
Restart=on-failure

[Install]
RequiredBy=vcc.service

