[Unit]
Description=VCC wait for dependent services on other nodes
PartOf=vcc.service
After=vcc-dns.service

[Service]
ExecStart=/usr/bin/env node /vccjs/wait4deps.js
Restart=on-failure

[Install]
RequiredBy=vcc.service

