[Unit]
Description=VCC cluster watcher
PartOf=vcc.service
After=vcc-register.service

[Service]
ExecStart=/usr/local/bin/node /vccjs/clusterwatcher.js
Restart=on-failure

[Install]
RequiredBy=vcc.service

