[Unit]
Description=VCC under systemd
Requires=vcc-net.service
Requires=vcc-dns.service
Requires=vcc-keys.service
Requires=vcc-wait4deps.service
Requires=vcc-register.service
Requires=vcc-watcher.service

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target